/* Styles for Top navbar */
.topnav {
  position: fixed;
  top: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  overflow: hidden;
  z-index: 1000;
}

.topnav__link--logo.active {
  color: var(--text-hover-100);
}

.topnav__link {
  text-decoration: none;
  padding: 14px 16px;
}

.topnav__links {
  display: none;
}

.topnav__link:hover {
  color: var(--text-hover-100);
  text-decoration: underline;
}

/* Styles for Side navbar */
.sidenav {
  display: none;
  padding-top: 30px;
}

.sidenav:hover {
  color: var(--text-hover-100);
}

.sidenav__list {
  list-style-type: none;
}

.sidenav__link {
  text-decoration: none;
  display: flex;
  margin-bottom: 5px;
}

.sidenav__links {
  text-decoration: none;
  display: flex;
  padding-top: 8px;
}
.sidenav__link:hover {
  color: var(--text-hover-100);
  text-decoration: underline;
}

/* Styles for the hamburger icon */
.hamburger {
  display: flex;
  cursor: pointer;
  padding: 15px;
}

.hamburger:hover {
  color: var(--text-hover-100);
}

/* Active Link */

.sidenav__link.active {
  color: var(--text-hover-100);
}

.topnav__link.active {
  color: var(--text-hover-100);
}

/* Introduction section in design-system.html */
.c-introduction{
  display: flex;
  flex-direction: column;
  margin-top: 70px;
  margin-bottom: 10px;
}

.c-introduction-container {
  max-width: 100%;
}

.c-intro p {
  margin-bottom: 20px;
  width: 60ch; /* Limiting width to 60 characters */
}

.c-intro ol {
  list-style-type: decimal;
  width: 60ch;
}

.c-intro ol li:last-child {
  margin-bottom: 0;
}

.c-why-choose ul {
  list-style: disc;
  width: 60ch;
}

.c-why-choose ul li strong {
  font-weight: bold;
}

/* About Me */

.bio {
  display: flex;
  flex-direction: column;
  margin-left: 0;
  margin-top: 70px;
  margin-bottom: 10px;
  justify-content: center;
  align-items: center;
}

/* Spacing */
.spacing {
  display: flex;
  flex-direction: column;
  margin-left: 0;
  margin-top: 70px;
  margin-bottom: 10px;
  padding-left: 10px;
  padding-right: 10px;
}

/* Contianers */
.layout {
  display: flex;
  flex-direction: column;
  margin-left: 0;
  margin-top: 70px;
  margin-bottom: 10px;
  padding-left: 10px;
  padding-right: 10px;
}

/* Colors Page */
.colors {
  display: flex;
  flex-direction: column;
  margin-left: 0;
  margin-top: 70px;
  margin-bottom: 10px;
  padding-left: 10px;
  padding-right: 10px;
}
/* Primary color */
.c-color {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 500px;
  height: 250px;
}

.c-color-white {
  width: 500px;
  height: 250px;
  border: 1.5px solid var(--clr-card);
}

/* Typography */
.font {
  display: flex;
  flex-direction: column;
  margin-left: 0;
  margin-top: 70px;
  margin-bottom: 10px;
  padding-left: 10px;
  padding-right: 10px;
}

/* Font Family */
.u-fontfamily {
  display: flex;
  flex-direction: column;
  align-items: left;
  width: 100%;
  text-align: left;
}

.fontfamily {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

/* Font style */
.u-fontclass {
  display: flex;
  flex-direction: column;
  align-items: left;
  width: 100%;
  text-align: left;
}

.fontclass {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

/* Spacing */
.spacing {
  display: flex;
  flex-direction: column;
  margin-left: 0;
  margin-top: 70px;
  margin-bottom: 10px;
}

/* Margin */
.margin {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

.u-margin {
  display: flex;
  flex-direction: column;
  align-items: left;
  width: 100%;
  text-align: left;
}

/* Padding */
.padding {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

.u-padding {
  display: flex;
  flex-direction: column;
  align-items: left;
  width: 100%;
  text-align: left;
}

/* Layout */
.layout {
  display: flex;
  flex-direction: column;
  margin-left: 0;
  margin-top: 70px;
  margin-bottom: 10px;
}

.flex {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

.u-flex {
  display: flex;
  flex-direction: column;
  align-items: left;
  width: 100%;
  text-align: left;
}

/* Container class */
.container-class {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

.u-container {
  display: flex;
  flex-direction: column;
  align-items: left;
  width: 100%;
  text-align: left;
}

/* Table style */

.swatch,
tr,
th,
td {
  border: 1px solid #000;
  padding: 15px;
  text-align: left;
  border-spacing: 0;
}

tr,
th,
td {
  border: 1px solid #000;
  padding: 6px;
  text-align: left;
  border-spacing: 0;
}
/* Navbar page */
.navbar {
  display: flex;
  flex-direction: column;
  margin-top: 70px;
  margin-bottom: 10px;
}

/* Mobile navbar */
.toggle-nav {
  margin-right: 10px;
}

.hamburger__menu {
  cursor: pointer;
}

/* Hero Page*/
.hero {
  display: flex;
  flex-direction: column;
  margin-top: 70px;
  margin-bottom: 10px;
}
.hero-section {
  position: relative;
}

.hero-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
  opacity: 95%;
}

.hero-content {
  position: relative;
  z-index: 1;
  max-width: 90%;
  padding: 20px;
}

.cta__button {
  text-decoration: none;
  transition: background-color 0.3s ease;
}

.cta__button:hover {
  background-color: var(--text-hover-100);
}
/* Interactive page */
.interactive {
  display: flex;
  flex-direction: column;
  margin-top: 70px;
  margin-bottom: 10px;
}
.cta__button:hover {
  background-color: var(--primary-bg);
}

/* Carousel page */
.carousel {
  display: flex;
  flex-direction: column;
  margin-top: 70px;
  margin-bottom: 10px;
}
/* Breadcrumbs Page*/
.breadcrumbs {
  display: flex;
  flex-direction: column;
  margin-top: 70px;
  margin-bottom: 10px;
}
/* Breadcrumb styles for mobile */
.c-breadcrumbs ul {
  padding: 0;
  list-style-type: none;
}

.c-breadcrumbs li {
  display: inline;
  font-size: 16px;
}

.c-breadcrumbs li:not(:last-child):after {
  content: ">";
  margin: 0;
}

.c-breadcrumbs a {
  text-decoration: none;
}

.c-breadcrumbs a:hover {
  text-decoration: underline;
}
/* Images page */
.images {
  display: flex;
  flex-direction: column;
  margin-top: 70px;
  margin-bottom: 10px;
}

.card-image__container {
  align-items: center; /* Align items horizontally */
  text-align: center; /* Align text content inside the container */
}
/* Cards page */
.cards {
  display: flex;
  flex-direction: column;
  margin-top: 70px;
  margin-bottom: 10px;
}

/* Code snippet style */
.code-snippet-container {
  align-items: center;
  position: relative;
  overflow-x: hidden; /* Enable horizontal scrolling if needed */
  width: calc(100% - 40px); /* Adjust width to fit within the screen */
}
#codeSnippet {
  text-align: left;
}
.c-clip--button{
  border: var(--clr-button);
}
.code-snippet-container pre {
  overflow-x: auto;
  overflow-y: hidden;
}
.code-snippet-container button {
  position: absolute;
  top: 5px;
  right: 5px;
  width: auto;
  cursor: pointer;
}
/* Accordion page */
.accordion {
  display: flex;
  flex-direction: column;
  margin-top: 70px;
  margin-bottom: 10px;
}

.c-accordion {
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  outline: none;
  transition: 0.4s;
}

.c-accordion:after {
  content: "\002B";
  color: var(--clr-white);
  font-weight: bold;
  float: right;
  margin-left: 5px;
}

.c-accordion.active:after {
  content: "\2212";
}

.c-panel {
  padding: 0 20px;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.5s ease-in-out;
}
/* Forms page */
.c-forms {
  display: flex;
  flex-direction: column;
  margin-top: 70px;
  margin-bottom: 10px;
}
/* List Page */
.list {
  display: flex;
  flex-direction: column;
  margin-top: 70px;
  margin-bottom: 10px;
}
/* Footer page */
.footer {
  display: flex;
  flex-direction: column;
  margin-top: 70px;
  margin-bottom: 10px;
}

/* Media query for screens larger than 700px */
@media screen and (min-width: 700px) {
  /* Top navbar */
  .topnav__links {
    display: flex; /* Show top nav links on larger screens */
  }
  /* Side navbar */
  .sidenav {
    display: flex; /* Show side navbar on larger screens */
    height: 100%;
    width: 200px;
    position: fixed;
    top: 25px;
    left: 0;
    z-index: 1;
  }

  .sidenav__link {
    display: flex;
  }
  .sidenav__links {
    display: none;
  }
  /* Hamburger icon */
  .hamburger {
    display: none;
  }

  .cancel {
    display: none;
  }

  /* Introduction section in design-system.html */
  .c-introduction {
    margin-right: 0;
    margin-left: 250px;
    padding-top: 25px;
  }

  .c-intro {
    width: 100%; /* Adjust as needed */
  }

  .c-intro ol li{
    list-style-type: decimal;
  }
  
  .c-intro ol li:last-child {
    margin-bottom: 0;
  }

  .c-why-choose li{
    list-style: disc;
  }
  /* About me */

  .myskills {
    flex-direction: row;
  }

  .myskills,
  li {
    list-style: none;
  }

  /* Swatches */
  .colors {
    margin-right: 0;
    margin-left: 250px;
    padding-top: 25px;
  }

  .u-primary {
    display: flex;
    flex-direction: row;
    margin-left: 1rem;
  }

  .c-color1 {
    margin-right: 1rem;
  }

  .c-color2 {
    margin-right: 1rem;
  }

  .c-color3 {
    margin-right: 1rem;
  }

  .c-color4 {
    margin-right: 1rem;
  }

  .c-color5 {
    margin-right: 1rem;
  }

  .c-color6 {
    margin-right: 1rem;
  }

  .c-color7 {
    margin-right: 1rem;
  }

  .u-secondary {
    display: flex;
    flex-direction: row;
    margin-left: 1rem;
  }

  .u-accent {
    display: flex;
    flex-direction: row;
    margin-left: 1rem;
  }
  /* Typography */
  .font {
    margin-right: 0;
    margin-left: 250px;
    padding-top: 25px;
  }

  /* Spacing */
  .spacing {
    margin-right: 0;
    margin-left: 250px;
    padding-top: 25px;
  }

  /* Layout */
  .layout {
    margin-right: 0;
    margin-left: 250px;
    padding-top: 25px;
  }

  /* Images page */
  .images {
    margin-right: 0;
    margin-left: 250px;
    padding-top: 25px;
  }
  .card-image__container {
    flex-direction: row;
    align-items: center; /* Align items horizontally */
    text-align: center; /* Align text content inside the container */
  }
  /* Navbar */
  .navbar {
    margin-right: 0;
    margin-left: 250px;
    padding-top: 25px;
  }

  /* Desktop navbar */
  .nav {
    display: flex;
    justify-content: space-between;
  }

  .c-logo {
    margin-bottom: 0;
  }

  .nav__logo {
    text-decoration: none;
  }
  .nav a {
    display: inline-block;
  }

  /* Hero Page */
  .hero {
    margin-right: 0;
    margin-left: 250px;
    padding-top: 25px;
  }

  .hero-section__code {
    width: 400;
    height: 200;
  }

  .mobile-desktop--style {
    flex-direction: row;
  }
  /* Cards Page */
  .cards {
    margin-right: 0;
    margin-left: 250px;
    padding-top: 25px;
  }
  /* Interactive page */
  .interactive {
    margin-right: 0;
    margin-left: 250px;
    padding-top: 25px;
  }

  .cta__button:hover {
    background-color: var(--primary-bg);
  }

  /* Carousel page */
  .carousel {
    margin-right: 0;
    margin-left: 250px;
    padding-top: 25px;
  }
  /* Breadcrumbs */
  .breadcrumbs {
    margin-right: 0;
    margin-left: 250px;
    padding-top: 25px;
  }
  .desktop__breadcrumbs {
    margin-right: 1.5rem;
  }
  /* Style for Breadcrumbs */
  .c-breadcrumbs li:not(:last-child):after {
    content: "/";
  }
  /* Accordion page */
  .accordion {
    margin-right: 0;
    margin-left: 250px;
    padding-top: 25px;
  }
  .css-accordion--style {
    flex-direction: row;
  }
  .faq-item {
    width: 1200px;
  }
  .faq-question:hover {
    background-color: var(--primary-bg-light);
    color: var(--secondary-text);
  }
  .faq-question:hover .faq-answer {
    display: block;
  }
  .faq-question:hover::after {
    transform: translateY(-50%) rotate(90deg);
  }
  /*Cards Page */
  .cards--container {
    flex-direction: column;
  }
  .code-snippet-container {
    overflow-x: hidden;
    overflow-y: hidden; /* Hide vertical scrollbar */
  }
  /* Forms Page */
    .c-forms {
      margin-right: 0;
      margin-left: 250px;
      padding-top: 25px;
    }
  /* List page */
  .list {
    margin-right: 0;
    margin-left: 250px;
    padding-top: 25px;
  }
  .c-footer {
    flex-direction: row;
  }
  /* Footer */
  .footer {
    margin-right: 0;
    margin-left: 250px;
    padding-top: 25px;
  }
}
