/* Styles for Top navbar */
.topnav {
  position: fixed;
  top: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  background-color: var(--clr-light);
  overflow: hidden;
  z-index: 1000;
}

.topnav__link--logo {
  color: var(--clr-primary);
  font-weight: lighter;
}

.topnav__link {
  color: var(--clr-primary);
  text-decoration: none;
  padding: 14px 16px;
}

.topnav__links {
  display: none;
}

.topnav__link:hover {
  color: var(--clr-primary);
  background-color: var(--clr-white);
}

/* Styles for Side navbar */
.sidenav {
  display: none;
  background-color: var(--clr-light);
  padding-top: 30px;
}

.sidenav p {
  color: var(--clr-primary);
}

.sidenav__list {
  list-style-type: none;
}

.sidenav__link {
  color: var(--clr-primary);
  text-decoration: none;
  display: block;
  margin-bottom: 5px;
}

.sidenav__links {
  text-decoration: none;
  display: block;
  color: var(--clr-primary);
  padding-top: 15px;
}
.sidenav__link:hover {
  color: var(--clr-secondary);
}

/* Styles for the hamburger icon */
.hamburger {
  display: block;
  cursor: pointer;
  padding: 5px;
  margin-right: 5px;
}

/* Active Link */

.sidenav__link.active {
  color: var(--clr-secondary);
  background-color: var(--clr-primary);
}

/* Style Swatch Pannel */

.swatches {
  display: flex;
  flex-direction: column;
  margin-left: 150px;
  padding: 25px;
}

.text {
  font-size: 16px;
  padding: 10px;
}

/* Primary color swatches */
.u-primary {
  display: flex;
  flex-direction: column;
  padding: 20px;
  padding-bottom: 15px;
}

.c-color1 {
  background-color: var(--clr-primary-100);
  width: 250px;
  height: 80px;
}

.c-color2 {
  background-color: var(--clr-primary-light);
  width: 250px;
  height: 80px;
}

.c-color3 {
  background-color: var(--clr-primary-text);
  width: 250px;
  height: 80px;
}

/* Secondary color swatches */
.u-secondary {
  display: flex;
  flex-direction: column;
  padding: 20px;
  padding-bottom: 15px;
}

.c-color4 {
  background-color: var(--clr-secondary-bg);
  width: 250px;
  height: 80px;
}

.c-color5 {
  background-color: var(--clr-secondary-text);
  width: 250px;
  height: 80px;
}

/* Accent color swatches */
.u-accent {
  display: flex;
  flex-direction: column;
  padding: 20px;
  padding-bottom: 15px;
}

.c-color6 {
  background-color: var(--clr-accent-100);
  width: 250px;
  height: 80px;
}

.c-color7 {
  background-color: var(--clr-accent-200);
  width: 250px;
  height: 80px;
}

/* Neutral color swatches */
.u-neutrals {
  display: flex;
  flex-direction: column;
  padding: 20px;
  padding-bottom: 15px;
}

.c-color8 {
  background-color: var(--clr-white);
  border: 1px solid black;
  width: 250px;
  height: 80px;
}

.c-color9 {
  background-color: var(--clr-gray);
  width: 250px;
  height: 80px;
}

/* Typography */
.typeface {
  display: flex;
  flex-direction: column;
  margin-left: 150px;
  padding: 25px;
}

.typeface p{
    color: var(--clr-primary-light);
}

/* Utilities classes for the typography */

.u-Merriweather {
  font-size: var(--fs-heading);
  color: var(--clr-primary-100);
  display: flex;
  flex-direction: column;
  padding: 20px;
  padding-bottom: 15px;
}

/* Heading and subheading */
.u-heading {
  font-family: var(--heading-font-family);
  font-size: var(--fs-heading);
  font-weight: var(--fw-heading);
  line-height: var(--ht-head-line);
  letter-spacing: var(--letter-space);
  color: var(--clr-primary-text);
}

.u-subheading {
  font-family: var(--subheading-font);
  font-size: var(--fs-subheading);
  font-weight: var(--fw-subheading);
  line-height: var(--ht-head-lineline);
  letter-spacing: var(--letter-space);
  color: var(--clr-primary-text);
}

/* Body title and context */

.u-Roboto {
  font-size: var(--fs-heading);
  color: var(--clr-primary-100);
  display: flex;
  flex-direction: column;
  padding: 20px;
  padding-bottom: 15px;
}

.u-body-title {
  font-family: var(--body-title);
  font-size: var(--fs-body-title);
  font-weight: var(--fw-body-title);
  line-height: var(--ht-line);
  letter-spacing: var(--letter-space);
  color: var(--clr-primary-text);
}

.u-body-context {
  font-family: var(--body-context);
  font-size: var(--fs-body-context);
  font-weight: var(--fw-body-context);
  line-height: var(--ht-line);
  letter-spacing: var(--letter-space);
  color: var(--clr-primary-text);
}
/* Media query for screens larger than 700px */
@media screen and (min-width: 700px) {
  /* Top navbar */
  .topnav__links {
    display: block; /* Show top nav links on larger screens */
  }
  /* Side navbar */
  .sidenav {
    display: block; /* Show side navbar on larger screens */
    height: 100%;
    width: 250px;
    position: fixed;
    top: 46px;
    left: 0;
    z-index: 1;
    background-color: var(--clr-light);
  }

  .sidenav__link {
    display: block;
  }
  .sidenav__links {
    display: none;
  }
  /* Hamburger icon */
  .hamburger {
    display: none;
  }

  .cancel {
    display: none;
  }

  /* Swatches */
  .swatches {
    margin-right: 0;
    margin-left: 450px; /* Add spacing to the right */
  }

  .typeface{
    margin-right: 0;
    margin-left: 250px;
  }
}
