/* Styles for Top navbar */
.topnav {
  position: fixed;
  top: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  overflow: hidden;
  z-index: 1000;
}

.topnav__link--logo.active {
  color: var(--text-hover-100);
}

.topnav__link {
  text-decoration: none;
  padding: 14px 16px;
}

.topnav__links {
  display: none;
}

.topnav__link:hover {
  color: var(--text-hover-100);
}

/* Styles for Side navbar */
.sidenav {
  display: none;
  padding-top: 30px;
}

.sidenav:hover {
  color: var(--text-hover-100);
}

.sidenav__list {
  list-style-type: none;
}

.sidenav__link {
  text-decoration: none;
  display: flex;
  margin-bottom: 5px;
}

.sidenav__links {
  text-decoration: none;
  display: flex;
  padding-top: 8px;
}
.sidenav__link:hover {
  color: var(--text-hover-100);
}

/* Styles for the hamburger icon */
.hamburger {
  display: flex;
  cursor: pointer;
  padding: 15px;
}

.hamburger:hover {
  color: var(--text-hover-100);
}

/* Active Link */

.sidenav__link.active {
  color: var(--text-hover-100);
}

.topnav__link.active {
  color: var(--text-hover-100);
}
/* About Me */

.bio {
  display: flex;
  flex-direction: column;
  margin-left: 0;
  margin-top: 70px;
  margin-bottom: 10px;
  justify-content: center;
  align-items: center;
}

/* Spacing */
.spacing {
  display: flex;
  flex-direction: column;
  margin-left: 0;
  margin-top: 70px;
  margin-bottom: 10px;
  padding-left: 10px;
  padding-right: 10px;
}

/* Contianers */
.layout {
  display: flex;
  flex-direction: column;
  margin-left: 0;
  margin-top: 70px;
  margin-bottom: 10px;
  padding-left: 10px;
  padding-right: 10px;
}

/* Colors Page */
.colors {
  display: flex;
  flex-direction: column;
  margin-left: 0;
  margin-top: 70px;
  margin-bottom: 10px;
  padding-left: 10px;
  padding-right: 10px;
}
/* Primary color */
.c-color1 {
  width: 500px;
  height: 250px;
}

.c-color2 {
  width: 500px;
  height: 250px;
}

.c-color3 {
  border: 1px solid #000;
  width: 500px;
  height: 250px;
}

/* Secondary color */
.c-color4 {
  width: 500px;
  height: 250px;
}

/* Accent color */
.c-color5 {
  width: 500px;
  height: 250px;
}

.c-color6 {
  width: 500px;
  height: 250px;
}

.c-color7 {
  width: 500px;
  height: 250px;
}

/* Typography */
.font {
  display: flex;
  flex-direction: column;
  margin-left: 0;
  margin-top: 70px;
  margin-bottom: 10px;
  padding-left: 10px;
  padding-right: 10px;
}

/* Font Family */
.u-fontfamily {
  display: flex;
  flex-direction: column;
  align-items: left;
  width: 100%;
  text-align: left;
}

.fontfamily {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

/* Font style */
.u-fontclass {
  display: flex;
  flex-direction: column;
  align-items: left;
  width: 100%;
  text-align: left;
}

.fontclass {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

/* Spacing */
.spacing {
  display: flex;
  flex-direction: column;
  margin-left: 0;
  margin-top: 70px;
  margin-bottom: 10px;
}

/* Margin */
.margin {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

.u-margin {
  display: flex;
  flex-direction: column;
  align-items: left;
  width: 100%;
  text-align: left;
}

/* Padding */
.padding {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

.u-padding {
  display: flex;
  flex-direction: column;
  align-items: left;
  width: 100%;
  text-align: left;
}

/* Layout */
.layout {
  display: flex;
  flex-direction: column;
  margin-left: 0;
  margin-top: 70px;
  margin-bottom: 10px;
}

.flex {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

.u-flex {
  display: flex;
  flex-direction: column;
  align-items: left;
  width: 100%;
  text-align: left;
}

/* Container class */
.container-class {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

.u-container {
  display: flex;
  flex-direction: column;
  align-items: left;
  width: 100%;
  text-align: left;
}

/* Table style */

.swatch,
tr,
th,
td {
  border: 1px solid #000;
  padding: 15px;
  text-align: left;
  border-spacing: 0;
}

tr,
th,
td {
  border: 1px solid #000;
  padding: 6px;
  text-align: left;
  border-spacing: 0;
}

.navbar {
  display: flex;
  flex-direction: column;
  margin-left: 0;
  margin-top: 70px;
  margin-bottom: 10px;
}
/* Mobile navbar */

.toggle-nav {
  margin-right: 10px;
}

.hamburger__menu {
  cursor: pointer;
}

/* Breadcrumbs */
.breadcrumbs {
  display: flex;
  flex-direction: column;
  margin-left: 0;
  margin-top: 70px;
  margin-bottom: 10px;
}

/* Breadcrumb styles for mobile */
.c-breadcrumbs ul {
  padding: 0;
  list-style-type: none;
}

.c-breadcrumbs li {
  display: inline;
  font-size: 16px;
}

.c-breadcrumbs li:not(:last-child):after {
  content: ">";
  margin: 0;
}

.c-breadcrumbs a {
  text-decoration: none;
}

.c-breadcrumbs a:hover {
  text-decoration: underline;
}

/* Media query for screens larger than 700px */
@media screen and (min-width: 700px) {
  /* Top navbar */
  .topnav__links {
    display: flex; /* Show top nav links on larger screens */
  }
  /* Side navbar */
  .sidenav {
    display: flex; /* Show side navbar on larger screens */
    height: 100%;
    width: 200px;
    position: fixed;
    top: 25px;
    left: 0;
    z-index: 1;
  }

  .sidenav__link {
    display: flex;
  }
  .sidenav__links {
    display: none;
  }
  /* Hamburger icon */
  .hamburger {
    display: none;
  }

  .cancel {
    display: none;
  }

  /* About me */

  .myskills {
    flex-direction: row;
  }

  .myskills,
  li {
    list-style: none;
  }

  /* Swatches */
  .colors {
    margin-right: 0;
    margin-left: 250px;
    padding-top: 25px;
  }

  .u-primary {
    display: flex;
    flex-direction: row;
    margin-left: 1rem;
  }

  .c-color1 {
    margin-right: 1rem;
  }

  .c-color2 {
    margin-right: 1rem;
  }

  .c-color3 {
    margin-right: 1rem;
  }

  .c-color4 {
    margin-right: 1rem;
  }

  .c-color5 {
    margin-right: 1rem;
  }

  .c-color6 {
    margin-right: 1rem;
  }

  .c-color7 {
    margin-right: 1rem;
  }

  .u-secondary {
    display: flex;
    flex-direction: row;
    margin-left: 1rem;
  }

  .u-accent {
    display: flex;
    flex-direction: row;
    margin-left: 1rem;
  }
  /* Typography */
  .font {
    margin-right: 0;
    margin-left: 250px;
    padding-top: 25px;
  }

  /* Spacing */
  .spacing {
    margin-right: 0;
    margin-left: 250px;
    padding-top: 25px;
  }

  /* Layout */
  .layout {
    margin-right: 0;
    margin-left: 250px;
    padding-top: 25px;
  }

  /* Navbar */
  .navbar {
    margin-right: 0;
    margin-left: 250px;
    padding-top: 25px;
  }

  /* Desktop navbar */
  .nav {
    display: flex;
    justify-content: space-between;
  }

  .c-logo {
    margin-bottom: 0;
  }

  .nav__logo {
    text-decoration: none;
  }
  .nav a {
    display: inline-block;
  }

  /* Mobile navbar */

  /* Breadcrumbs */
  .breadcrumbs {
    margin-right: 0;
    margin-left: 250px;
    padding-top: 25px;
  }
  /* Style for Breadcrumbs */
  .c-breadcrumbs li:not(:last-child):after {
    content: "/";

  }

}

