/* Variables for colors */
:root {
  /* Grayscale Colors */

  --clr-primary: #000000;
  --clr-secondary: #a9a9a9;
  --clr-accent: var(--clr-secondary);
  --clr-light: #d3d3d3;
  --clr-white: #ffffff;

  /* Primary Colors */
  --primary-bg: #4A7295;
  --primary-bg-light: rgba(40, 100, 134, 34%);
  --primary-text: #fff;

  /* Secondary Colors */
  --secondary-bg: #fff;
  --secondary-text: #000;
  
  /* Accent colors */
  --clr-card: #8A9CAB;
  --clr-button: #F87C7C;
  --clr-button-hover: #F8BCBC;
  --text-hover-100: #F87C7C;
  --text-hover-200: #4A7295;

  


  /*font variables*/
  /* Font family for Heading and body */
  --heading-font-family:"Merriweather", serif;
  --subheading-font:"Merriweather", serif;

  --body-title: 'Roboto', sans-serif;
  --body-context: 'Roboto', sans-serif;

  /* Font size */
  --fs-heading: 2.5rem;
  --fs-subheading: 2rem;
  --fs-body-title: 2rem;
  --fs-body-context: 1rem;

  /* Font weight */
  --fw-heading: bold;
  --fw-subheading: bold;
  --fw--body-title: bold;
  --fw-body-context: normal;

  /* Line height */
  --ht-head-line: 3rem;
  --ht-line: 2rem;

  /* letter spacing */
  --letter-space: normal;

}

/* CSS reset */

/* Border box fix */
* {
  box-sizing: border-box;
}

/* Reset margins */
body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
figure,
picture {
  margin: 0;
}

/* Remove padding from lists */
ul,
ol {
  padding: 0;
}
/* Utilities Classes for the swatches */
/* Primary colors*/
.u-primary-bg{
  background-color: var(--primary-bg);
}
.u-bg-primary-light {
  background-color: var(--primary-bg-light);
}
.u-primary-text {
  color: var(--primary-text);
}

/* Secondary Colors */
.u-secondary-bg {
  background-color: var(--secondary-bg);
}

.u-secondary-text {
  color: var(--secondary-text);
}

/* Accent Colors */
.u-card {
  background-color: var(--clr-card);
}

.u-button {
  background-color: var(--clr-button);
  color: var(--primary-text);
}

.u-button-hover {
  background-color: var(--clr-button-hover);
  color: var(--primary-text);
}

/* Text Hover Colors */
.u-text-hover-100 {
  color: var(--text-hover-100);
}

.u-text-hover-200 {
  color: var(--text-hover-200);
}

