/* Variables for colors */
:root {
  /* Grayscale Colors */

  --clr-primary: #000000;
  --clr-secondary: #a9a9a9;
  --clr-accent: var(--clr-secondary);
  --clr-light: #d3d3d3;
  --clr-white: #ffffff;

  /* Primary Colors */
  --primary-bg: #4A7295;
  --primary-bg-light: #286486;
  --primary-text: #fff;

  /* Secondary Colors */
  --secondary-bg: #fff;
  --secondary-text: #000;
  
  /* Accent colors */
  --clr-card: #8A9CAB;
  --clr-button: #F87C7C;
  --clr-button-hover: #F8BCBC;
  --text-hover-100: #F87C7C;
  --text-hover-200: #4A7295;


  /*font variables*/
  /* Font family for Heading and body */
  --heading-font-family:"Merriweather", serif;
  --subheading-font:"Merriweather", serif;

  --body-title: 'Roboto', sans-serif;
  --body-context: 'Roboto', sans-serif;

  /* Font size */
  --fs-heading: 2.5rem;
  --fs-subheading: 2rem;
  --fs-body-title: 2rem;
  --fs-body-context: 1rem;

  /* Font weight */
  --fw-heading: bold;
  --fw-subheading: bold;
  --fw--body-title: bold;
  --fw-body-context: normal;

  /* Line height */
  --ht-head-line: 3rem;
  --ht-line: 2rem;

  /* letter spacing */
  --letter-space: normal;

}

/* CSS reset */

/* Border box fix */
* {
  box-sizing: border-box;
}

/* Reset margins */
body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
figure,
picture {
  margin: 0;
}

/* Remove padding from lists */
ul,
ol {
  padding: 0;
}
