/* Variables for colors */
:root {
  /* Grayscale Colors */

  --clr-primary: #000000;
  --clr-secondary: #a9a9a9;
  --clr-accent: var(--clr-secondary);
  --clr-light: #d3d3d3;
  --clr-white: #ffffff;

  /* Primary Colors */
  --clr-primary-100: #2b2b2b; /* Base color */
  --clr-primary-light: #039f9b; /* Light tone */
  --clr-primary-text: #e46a96; /* Dark tone */

  /* Secondary Colors */
  --clr-secondary-bg: #00312e; /* Secondary background color */
  --clr-secondary-text: #fad3d8; /* Secondary text color */

  /* Accent Colors */
  --clr-accent-100: #937398;
  --clr-accent-200: #aabf96;

  /* Neutrals */
  --clr-white: #ffffff;
  --clr-gray: #323737;

  /*font variables*/
  /* Font family for Heading and body */
  --heading-font-family:"Merriweather", serif;
  --subheading-font:"Merriweather", serif;

  --body-title: 'Roboto', sans-serif;
  --body-context: 'Roboto', sans-serif;

  /* Font size */
  --fs-heading: 2.5rem;
  --fs-subheading: 2rem;
  --fs-body-title: 1.5rem;
  --fs-body-context: 1rem;

  /* Font weight */
  --fw-heading: bold;
  --fw-subheading: bold;
  --fw--body-title: normal;
  --fs-body-context: normal;




}

/* CSS reset */

/* Border box fix */
* {
  box-sizing: border-box;
}

/* Reset margins */
body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
figure,
picture {
  margin: 0;
}

/* Remove padding from lists */
ul,
ol {
  padding: 0;
}
